@model Nop.Plugin.Misc.Watermark.Models.ConfigurationModel
@using System.Web.UI.WebControls
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Misc.Watermark/script/jscolor.js");
    Html.AddScriptParts("~/Plugins/Misc.Watermark/script/jquery.knob.js");
    Html.AppendCssFileParts("~/Plugins/Misc.Watermark/Content/watermark.css");
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group clearfix">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Misc.Watermark.Text")
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkTextEnable_OverrideForStore, model => model.WatermarkTextEnable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkTextEnable)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WatermarkTextEnable)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Text_OverrideForStore, model => model.WatermarkText, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkText)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.WatermarkText)
                        @Html.ValidationMessageFor(model => model.WatermarkText)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkFont_OverrideForStore, model => model.WatermarkFont, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkFont)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.WatermarkFont, Model.AvailableFontsList)
                        @Html.ValidationMessageFor(model => model.WatermarkText)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.TextColor_OverrideForStore, model => model.TextColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TextColor)
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.TextColor, new { @class = "jscolor form-control" })
                        @Html.ValidationMessageFor(model => model.TextColor)
                    </div>
                </div>
                <div class="col-md-12">@Html.OverrideStoreCheckboxFor(model => model.TextSettings_OverrideForStore, "textsettings_group", Model.ActiveStoreScopeConfiguration)</div>
                <div id="textsettings_group">
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.TextSettings.Size)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.TextSettings.Size)
                            @Html.ValidationMessageFor(model => model.TextSettings.Size)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">
                                    @T("Plugins.Misc.Watermark.WatermarkPosition")
                                </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.TopLeftCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.TopLeftCorner)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.TopCenter)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.TopCenter)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.TopRightCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.TopRightCorner)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.CenterLeft)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.CenterLeft)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.Center)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.Center)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.CenterRight)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.CenterRight)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.BottomLeftCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.BottomLeftCorner)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.BottomCenter)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.BottomCenter)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.TextSettings.BottomRightCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.TextSettings.BottomRightCorner)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.TextSettings.Opacity)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.TextSettings.Opacity)
                            @Html.ValidationMessageFor(model => model.TextSettings.Opacity)
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkTextRotatedDegree_OverrideForStore, model => model.TextRotatedDegree, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TextRotatedDegree)
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.TextRotatedDegree, new { @class = "dial" })
                        @Html.ValidationMessageFor(model => model.TextRotatedDegree)
                        <script>
                            $(function () {
                                $('.dial').knob({
                                    'min': 0,
                                    'max': 360,
                                    'angleOffset': -90,
                                    'cursor': true
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Misc.Watermark.Picture")
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkPictureEnable_OverrideForStore, model => model.WatermarkPictureEnable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkPictureEnable)
                    </div>
                    <div class="col-md-9 watermark-picture">
                        @Html.NopEditorFor(model => model.WatermarkPictureEnable)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkPictureId_OverrideForStore, model => model.PictureId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PictureId)
                    </div>
                    <div class="col-md-9 watermark-picture">
                        @Html.NopEditorFor(model => model.PictureId)
                    </div>
                </div>

                <div class="col-md-12">@Html.OverrideStoreCheckboxFor(model => model.PictureSettings_OverrideForStore, "picturesettings_group", Model.ActiveStoreScopeConfiguration)</div>
                <div id="picturesettings_group">
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PictureSettings.Size)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PictureSettings.Size)
                            @Html.ValidationMessageFor(model => model.PictureSettings.Size)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">
                                    @T("Plugins.Misc.Watermark.WatermarkPosition")
                                </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.TopLeftCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.TopLeftCorner)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.TopCenter)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.TopCenter)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.TopRightCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.TopRightCorner)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.CenterLeft)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.CenterLeft)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.Center)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.Center)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.CenterRight)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.CenterRight)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.BottomLeftCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.BottomLeftCorner)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.BottomCenter)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.BottomCenter)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            @Html.NopLabelFor(model => model.PictureSettings.BottomRightCorner)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.NopEditorFor(model => model.PictureSettings.BottomRightCorner)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PictureSettings.Opacity)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PictureSettings.Opacity)
                            @Html.ValidationMessageFor(model => model.PictureSettings.Opacity)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Misc.Watermark.CommonSettings")
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ApplyOnProductPictures_OverrideForStore, model => model.ApplyOnProductPictures, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ApplyOnProductPictures)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApplyOnProductPictures)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ApplyOnCategoryPictures_OverrideForStore, model => model.ApplyOnCategoryPictures, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ApplyOnCategoryPictures)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApplyOnCategoryPictures)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ApplyOnManufacturerPictures_OverrideForStore, model => model.ApplyOnManufacturerPictures, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ApplyOnManufacturerPictures)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ApplyOnManufacturerPictures)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkMinimumImageWidthForWatermark_OverrideForStore, model => model.MinimumImageWidthForWatermark, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MinimumImageWidthForWatermark)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MinimumImageWidthForWatermark)
                        @Html.ValidationMessageFor(model => model.MinimumImageWidthForWatermark)
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkMinimumImageHeightForWatermark_OverrideForStore, model => model.MinimumImageHeightForWatermark, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MinimumImageHeightForWatermark)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MinimumImageHeightForWatermark)
                        @Html.ValidationMessageFor(model => model.MinimumImageHeightForWatermark)
                    </div>
                </div>
            </div>

            <div class="panel-body col-md-12 button-align-center">
                <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
            </div>
        </div>
    </div>
}