@model Nop.Plugin.Misc.Watermark.Models.ConfigurationModel
@using System.Web.UI.WebControls
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Misc.Watermark/script/jscolor.js");
    Html.AddScriptParts("~/Plugins/Misc.Watermark/script/jquery.knob.js");
    Html.AppendCssFileParts("~/Plugins/Misc.Watermark/Content/watermark.css");
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (@Html.BeginForm())
{
        <fieldset>
            <legend>
                <strong>@T("Plugins.Misc.Watermark.Text")</strong>
            </legend>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkTextEnable_OverrideForStore, model => model.WatermarkTextEnable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkTextEnable)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.WatermarkTextEnable)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.Text_OverrideForStore, model => model.WatermarkText, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkText)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.WatermarkText)
                        @Html.ValidationMessageFor(model => model.WatermarkText)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkFont_OverrideForStore, model => model.WatermarkFont, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkFont)
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(model => model.WatermarkFont, Model.AvailableFontsList)
                        @Html.ValidationMessageFor(model => model.WatermarkText)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.TextColor_OverrideForStore, model => model.TextColor, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TextColor)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.TextColor, new { @class = "jscolor form-control" })
                        @Html.ValidationMessageFor(model => model.TextColor)
                    </td>
                </tr>
                <tr><td class="adminTitle">@Html.OverrideStoreCheckboxFor(model => model.TextSettings_OverrideForStore, "textsettings_group", Model.ActiveStoreScopeConfiguration)</td></tr>
                    <table id="textsettings_group">
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.Size)
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.TextSettings.Size)
                                @Html.ValidationMessageFor(model => model.TextSettings.Size)
                            </td>
                        </tr>
                        <tr>@T("Plugins.Misc.Watermark.WatermarkPosition")</tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.TopLeftCorner)
                                @Html.EditorFor(model => model.TextSettings.TopLeftCorner)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.TopCenter)
                                @Html.EditorFor(model => model.TextSettings.TopCenter)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.TopRightCorner)
                                @Html.EditorFor(model => model.TextSettings.TopRightCorner)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.CenterLeft)
                                @Html.EditorFor(model => model.TextSettings.CenterLeft)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.Center)
                                @Html.EditorFor(model => model.TextSettings.Center)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.CenterRight)
                                @Html.EditorFor(model => model.TextSettings.CenterRight)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.BottomLeftCorner)
                                @Html.EditorFor(model => model.TextSettings.BottomLeftCorner)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.BottomCenter)
                                @Html.EditorFor(model => model.TextSettings.BottomCenter)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.BottomRightCorner)
                                @Html.EditorFor(model => model.TextSettings.BottomRightCorner)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.TextSettings.Opacity)
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.TextSettings.Opacity)
                                @Html.ValidationMessageFor(model => model.TextSettings.Opacity)
                            </td>
                        </tr>
                    </table>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkTextRotatedDegree_OverrideForStore, model => model.TextRotatedDegree, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.TextRotatedDegree)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.TextRotatedDegree, new { @class = "dial" })
                        @Html.ValidationMessageFor(model => model.TextRotatedDegree)
                        <script>
                            $(function () {
                                $('.dial').knob({
                                    'min': 0,
                                    'max': 360,
                                    'angleOffset': -90,
                                    'cursor': true
                                });
                            });
                        </script>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
        <legend>
            <strong>@T("Plugins.Misc.Watermark.Picture")</strong>
        </legend>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkPictureEnable_OverrideForStore, model => model.WatermarkPictureEnable, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.WatermarkPictureEnable)
                    </td>
                    <td class="adminData watermark-picture">
                        @Html.EditorFor(model => model.WatermarkPictureEnable)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.WatermarkPictureId_OverrideForStore, model => model.PictureId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PictureId)
                    </td>
                    <td class="adminData watermark-picture">
                        @Html.EditorFor(model => model.PictureId)
                    </td>
                </tr>

                <tr><td class="col-md-12">@Html.OverrideStoreCheckboxFor(model => model.PictureSettings_OverrideForStore, "picturesettings_group", Model.ActiveStoreScopeConfiguration)</td></tr>
                    <table id="picturesettings_group">
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.Size)
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.PictureSettings.Size)
                                @Html.ValidationMessageFor(model => model.PictureSettings.Size)
                            </td>
                        </tr>
                        <tr>@T("Plugins.Misc.Watermark.WatermarkPosition")</tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.TopLeftCorner)
                                @Html.EditorFor(model => model.PictureSettings.TopLeftCorner)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.TopCenter)
                                @Html.EditorFor(model => model.PictureSettings.TopCenter)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.TopRightCorner)
                                @Html.EditorFor(model => model.PictureSettings.TopRightCorner)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.CenterLeft)
                                @Html.EditorFor(model => model.PictureSettings.CenterLeft)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.Center)
                                @Html.EditorFor(model => model.PictureSettings.Center)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.CenterRight)
                                @Html.EditorFor(model => model.PictureSettings.CenterRight)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.BottomLeftCorner)
                                @Html.EditorFor(model => model.PictureSettings.BottomLeftCorner)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.BottomCenter)
                                @Html.EditorFor(model => model.PictureSettings.BottomCenter)
                            </td>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.BottomRightCorner)
                                @Html.EditorFor(model => model.PictureSettings.BottomRightCorner)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.PictureSettings.Opacity)
                                @Html.EditorFor(model => model.PictureSettings.Opacity)
                                @Html.ValidationMessageFor(model => model.PictureSettings.Opacity)
                            </td>
                        </tr>
                    </table>
            </table>
        </fieldset>
    <fieldset>
        <legend>
            <strong>
                @T("Plugins.Misc.Watermark.CommonSettings")
            </strong>
        </legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ApplyOnProductPictures_OverrideForStore, model => model.ApplyOnProductPictures, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ApplyOnProductPictures)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ApplyOnProductPictures)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ApplyOnCategoryPictures_OverrideForStore, model => model.ApplyOnCategoryPictures, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ApplyOnCategoryPictures)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ApplyOnCategoryPictures)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ApplyOnManufacturerPictures_OverrideForStore, model => model.ApplyOnManufacturerPictures, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ApplyOnManufacturerPictures)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ApplyOnManufacturerPictures)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkMinimumImageWidthForWatermark_OverrideForStore, model => model.MinimumImageWidthForWatermark, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.MinimumImageWidthForWatermark)
                </td>
                <td class="adminContent">
                    @Html.EditorFor(model => model.MinimumImageWidthForWatermark)
                    @Html.ValidationMessageFor(model => model.MinimumImageWidthForWatermark)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.WatermarkMinimumImageHeightForWatermark_OverrideForStore, model => model.MinimumImageHeightForWatermark, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.MinimumImageHeightForWatermark)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MinimumImageHeightForWatermark)
                    @Html.ValidationMessageFor(model => model.MinimumImageHeightForWatermark)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}